PORT=8000
# 提示：.env 的优先级低于系统环境变量，低于 docker-compose.yml 中指定的环境变量
# 开发环境示例（使用 npx prisma dev 启动的测试数据库）
DATABASE_URL="postgres://postgres:postgres@localhost:51214/template1?sslmode=disable&connection_limit=1&connect_timeout=0&max_idle_connection_lifetime=0&pool_timeout=0&single_use_connections=true&socket_timeout=0"
# 生产环境请修改为实际的数据库连接字符串
# DATABASE_URL="postgresql://username:password@localhost:5432/survey_db"

# JWT密钥（至少32字符）
JWT_SECRET=your_jwt_secret_key_at_least_32_characters_long
# 密码加盐字符串
PASSWORD_SALT=your_password_salt_string